.courses-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .courses-container {
            display: flex;
            flex-direction: column;
        }
                .courseCard-Container {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 20px;
                }
}

