.top-rated-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top-rated-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
}